---
import ExperienceItem from "./ExperienceItem.astro";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const EXPERIENCE = [
  {
    date: `${i18n.EXPERIENCE_DATE_1}`,
    title: `${i18n.EXPERIENCE_TITLE_1}`,
    company: "PUCV",
    description: `${i18n.EXPERIENCE_DESCRIPTION_1}`,
  },
  {
    date: `${i18n.EXPERIENCE_DATE_2}`,
    title: `${i18n.EXPERIENCE_TITLE_2}`,
    company: "ANS S.A.",
    description: `${i18n.EXPERIENCE_DESCRIPTION_2}`,
  },
  {
    date: `${i18n.EXPERIENCE_DATE_3}`,
    title: `${i18n.EXPERIENCE_TITLE_3}`,
    company: "ANS S.A.",
    description: `${i18n.EXPERIENCE_DESCRIPTION_3}`,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
